<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://debcenter.nl</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>debcenter.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Debcenter</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Debcenter</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:debcenterdbserver.database.windows.net,1433;Initial Catalog=DebcenterDB;User ID=debcenterus@debcenterdbserver;Password=&quot;T_{sEV2w+Ez=hTZW&quot;" Name="Data Source=tcp:debcenterdbserver.database.windows.net,1433;Initial Catalog=DebcenterDB;User Id=debcenterus@debcenterdbserver;Password=T_{sEV2w+Ez=hTZW" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Debcenter.Models.ApplicationDbContext, Debcenter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:debcenterdbserver.database.windows.net,1433;Initial Catalog=DebcenterDB;User Id=debcenterus@debcenterdbserver;Password=T_{sEV2w+Ez=hTZW</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>